<!-- Page Wrapper -->
<div id="wrapper" >

  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Almacen <sup>{{nameWarehouse | async}}</sup></div>

    </a>


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item " routerLinkActive="active">
      <a class="nav-link" routerLink="dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Interfaz
    </div>


    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['movements', 'output']" aria-expanded="false">
        <i class="fas fa-fw fa-file-export"></i>
        <span class="hide-menu">Salidas</span></a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['movements', 'input']" routerLinkActive="activo" aria-expanded="false">
        <i class="fas fa-fw fa-box-open"></i>
        <span class="hide-menu">Entradas</span></a>
    </li>


    <hr class="sidebar-divider d-none d-md-block">

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
         aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-cog"></i>
        <span>Componentes</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Mantenimiento</h6>
          <a class="collapse-item" routerLink="products" routerLinkActive="active"><i class="fas fa-fw fa-boxes"></i>
            Productos</a>
          <a class="collapse-item" routerLink="categories" routerLinkActive="active"> <i
            class="fas fa-fw fa-desktop"></i> Categoria</a>
          <a class="collapse-item" routerLink="invoice" routerLinkActive="active"> <i class="fas fa-fw fa-file"></i>
            Facturas</a>
          <a class="collapse-item" routerLink="measure" routerLinkActive="active"><i class="fas fa-fw fa-pallet"></i>
            Medidas</a>
          <a class="collapse-item" routerLink="clients" routerLinkActive="active"> <i
            class="fas fa-fw fa-user-friends"></i> Clientes</a>
          <a class="collapse-item" routerLink="provider" routerLinkActive="active"> <i class="fas fa-fw fa-box"></i>
            Proveedores</a>
          <a class="collapse-item" routerLink="brand" routerLinkActive="active"> <i class="fas fa-fw fa-briefcase"></i>
            Marcas</a>

        </div>
      </div>

    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>


  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->


      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item d-none d-md-block">
            <a class="nav-link" href="javascript:void(0)">
              <form>
                <div class="customize-input">
                  <input
                    class="form-control custom-shadow custom-radius border-0 bg-white"
                    type="search"
                    placeholder="Buscar"
                    aria-label="Search"
                    (keyup)="searchEvent($event)"

                  /> <i class="form-control-icon" data-feather="search"></i>

                </div>
              </form>
            </a>
          </li>


          <!-- Notification -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle pl-md-3 position-relative"
               href="javascript:void(0)"
               (click)="viewNotifications()"
               id="alertsDropdown" role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <!-- Counter - Alerts -->
              <span *ngIf="(counterNotification | async) != 0" class="badge badge-danger badge-counter">
                {{counterNotification | async}}
              </span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                Notificaciones
              </h6>
              <ul class="list-group">

                <li *ngFor="let item of productsNotification">
                  <div class="message-center notifications position-relative">
                    <!-- Message -->
                    <a
                      href="javascript:void(0)"
                      class="dropdown-item d-flex align-items-center"
                    >
                      <div class="btn rounded-circle btn-circle"
                           [ngClass]="item.stock == 0 ? 'btn-danger': 'btn-warning'">
                        <i class="fas fa-truck"></i>
                      </div>
                      <div class="w-75 d-inline-block v-middle pl-2">
                        <h6 class="message-title mb-0 mt-1">Alerta de Stock</h6>
                        <span *ngIf="item.stock == 0" class="medium text-gray-600">
                          Producto agotado: {{item.name}}
                        </span>
                        <span *ngIf="item.stock > 0" class="medium text-gray-600">
                          Se esta agotando: {{item.name}}
                        </span>
                        <span *ngIf="item.stock > 0" class="medium text-gray-600">
                          {{item.stock}} {{item.measure}} disponible
                        </span>
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
              <!--   <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a> -->
            </div>
          </li>


          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="img-profile rounded-circle"
                   src="../../../assets/img/undraw_profile.svg"/>

              <span class="mr-2 d-none d-lg-inline text-gray-600 small"><span>Hola,</span>
                <span class="text-dark"> {{user | async}}</span>
                <i data-feather="chevron-down" class="svg-icon"></i>
                <!--<span class="text-dark">{{ user | async }}</span> --></span>

            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" (click)="logOut()">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Cerrar Sesión
              </a>
            </div>
          </li>
        </ul>
      </nav>
    <router-outlet></router-outlet>

  </div>

</div>

<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; HolosaludTI {{anio}} -  Desarrollado por
      <a href="/">XelaMP</a>
      </span>
    </div>
  </div>
</footer>

<notifier-container></notifier-container>

