<div class="container-fluid">
  <div class="row">
    <div class="col-6-lg col-md-6 col-sm-12 align-self-center">
      <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">
        <div>Lista de Facturas</div>
      </h4>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <div>
            <ol role="list" class="breadcrumb m-0 p-0">
              <li class="breadcrumb-item">
                <a routerLink="dashboard" class="text-muted">Inicio</a>
              </li>
              <li class="breadcrumb-item text-muted active" aria-current="page">
                {{title}}
              </li>
            </ol>
          </div>
        </nav>
      </div>
    </div>
    <div class="col-6-lg col-md-6 col-sm-12 align-self-center">
      <div class="customize-input float-right">
        <div class="row" style="margin-top: 1.5em">
          <div class="col-6">
            <div class="form-group">
              <input type="date" class="form-control" value="2018-05-13" [(ngModel)]="from" name="from" (change)="updateDate()">
              <small id="textHelp" class="form-text text-muted">Desde</small>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input type="date" class="form-control" value="2018-05-13" [(ngModel)]="to" name="to" (change)="updateDate()">
              <small id="textHelp2" class="form-text text-muted">Hasta</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="padding: 30px;">
  <div class="row">
    <div>
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#form-user"
        (click)="clean()"
        style="margin: 20px;"
      >
        Agregar
      </button>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <div>
              <table class="table">
                <thead class="bg-success text-white">
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Código</th>
                  <th>Fecha</th>
                  <th>Proveedor</th>
                  <th>Factura</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let item of invoices; let i = index"
                  [attr.data-index]="i"
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.code }}</td>
                  <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
                  <td>{{item.provider}}</td>
                  <td>
                    <button
                      type="button"
                      class="btn waves-effect waves-light btn-rounded btn-sm btn-primary"
                      (click)="showInvoice(item.idImage)"
                      data-toggle="modal"
                      data-target="#form-invoice"
                      style="margin-right: 5px;"
                    >
                      Ver Factura
                    </button>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn waves-effect waves-light btn-rounded btn-sm btn-success"
                      (click)="edit(item)"
                      data-toggle="modal"
                      data-target="#form-user"
                      style="margin-right: 5px;"
                    >
                      Editar
                    </button>
                    <button
                      type="button"
                      (click)="getKeyForDelete(item._id)"
                      class="btn waves-effect waves-light btn-rounded btn-sm btn-danger"
                      [swal]="deleteSwal"
                    >
                      Eliminar
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal
  #deleteSwal
  title="¿Estás seguro?"
  text="Los datos no se podrán recuperar."
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (cancel)="clean()"
  (confirm)="deleteItem()"
>
</swal>

<div
  id="form-user"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{ case }} {{title}}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>

      <div class="modal-body">
        <form class="pl-3 pr-3" action="#">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input
              class="form-control"
              type="text"
              id="name"
              required=""
              name="name"
              [(ngModel)]="item.name"
              placeholder="Nombre"
            />
          </div>
          <div class="form-group">
            <label for="code">Codigo</label>
            <input
              class="form-control"
              type="text"
              id="code"
              required=""
              name="code"
              [(ngModel)]="item.code"
              placeholder="Codigo"
            />
          </div>
          <div class="form-group">
            <label for="date">Fecha</label>
            <input
              id="date"
              type="date"
              class="form-control"
              value="2018-05-13"
              [(ngModel)]="item.date"
              name="from"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Factura</label>
            <input
              name="invoice"
              (change)="fileChange($event)"
              type="file"
              class="form-control-file"
              accept=".jpg, .png"
              id="exampleInputFile"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect4">Proveedor</label>
            <select
              class="form-control"
              id="exampleFormControlSelect4"
              name="provider"
              [(ngModel)]="item.idProvider"
            >
              <option *ngFor="let c of providers" [ngValue]="c._id">{{c.name}}</option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          data-dismiss="modal"
          (click)="clean()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="sendForm()"
        >
          Guardar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  id="form-invoice"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel2">Factura</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>

      <div class="modal-body">
        <img [src] = "imageURL" style="width: 100%">
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >
          Cerrar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<notifier-container></notifier-container>

