<div class="container-fluid">
  <div class="row">
    <div class="col-7 align-self-center">
      <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">
        <div>Lista de Productos</div>
      </h4>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <div>
            <ol role="list" class="breadcrumb m-0 p-0">
              <li class="breadcrumb-item">
                <a routerLink="dashboard" class="text-muted">Inicio</a>
              </li>
              <li class="breadcrumb-item text-muted active" aria-current="page">
                {{title}}
              </li>
            </ol>
          </div>
        </nav>
      </div>
    </div>

    <div class="container-fluid">
      <div class="customize-input float-right">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Categorias</label>

        <select id="inputGroupSelect01"
                name="filter"
                class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius"
                [(ngModel)]="filter"
                (change)="searchcat(searchTemp)"
        >
          <option selected value="all">Todos</option>
          <option *ngFor="let item of categories" value="{{item._id}}">{{item.name}}</option>
        </select>
      </div>
    </div>
    </div>
  </div>
</div>




<div class="container-fluid" style="padding: 30px;">
  <div class="row">
    <div>
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#form-user"
        (click)="clean()"
        style="margin: 20px;"
      >
        Agregar
      </button>
      <button
        type="button"
        class="btn btn-success"
        (click)="downloadXLS()"
        style="margin-right: 20px;"
      >
        <i class="fas fa-file-excel"></i>
        Descargar XLSX
      </button>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <div>
              <table class="table">
                <thead class="bg-success text-white">
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Stock</th>
                  <th>Medida</th>
                  <th>Unidades</th>
                  <th>Lotes</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let item of products; let i = index"
                  [attr.data-index]="i"
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{item.price}}</td>
                  <th [ngClass]="item.stock <= item.minAlert ? 'red' : (item.stock - item.minAlert) < 10 ? 'alert': ''">{{item.stock}}</th>
                  <th>{{item.measure}}</th>
                  <th>{{item.stock * item.unity}}</th>
                  <td>
                    <button
                      *ngIf="item.perishable"
                      type="button"
                      class="btn waves-effect waves-light btn-rounded btn-sm btn-primary"
                      (click)="getLots(item._id)"
                      data-toggle="modal"
                      data-target="#form-lot"
                      style="margin-right: 5px;"
                    >
                      Lotes
                    </button>
                    <button
                      *ngIf="!item.perishable"
                      type="button"
                      class="btn waves-effect waves-light btn-rounded btn-sm btn-primary"
                      (click)="getBrands(item._id)"
                      data-toggle="modal"
                      data-target="#form-brand"
                      style="margin-right: 5px;"
                    >
                      Marcas
                    </button>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn waves-effect waves-light btn-rounded btn-sm btn-success"
                      (click)="edit(item)"
                      data-toggle="modal"
                      data-target="#form-user"
                      style="margin-right: 5px;"
                    >
                      Editar
                    </button>
                    <button
                      type="button"
                      (click)="getKeyForDelete(item._id)"
                      class="btn waves-effect waves-light btn-rounded btn-sm btn-danger"
                      [swal]="deleteSwal"
                    >
                      Eliminar
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal
  #deleteSwal
  title="¿Estas seguro?"
  text="Los datos no se podran recuperar."
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (cancel)="clean()"
  (confirm)="deleteItem()"
>
</swal>

<div
  id="form-user"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{ case }} {{title}}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>

      <div class="modal-body">
        <form class="pl-3 pr-3" action="#">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input
              class="form-control"
              type="text"
              id="name"
              required=""
              name="name"
              [(ngModel)]="item.name"
              placeholder="Nombre"
            />
          </div>
          <div class="form-group">
            <label for="description">Descripcion</label>
            <input
              class="form-control"
              type="text"
              id="description"
              required=""
              name="description"
              [(ngModel)]="item.description"
              placeholder="Descripcion del producto"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Categoria</label>
            <select
              class="form-control"
              id="exampleFormControlSelect1"
              name="category"
              [(ngModel)]="item.idCategory"
            >
              <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="price">Precio</label>
            <input
              class="form-control"
              type="number"
              id="price"
              required=""
              name="price"
              [(ngModel)]="item.price"
              placeholder="5.5"
            />
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect2">Unidad de Medida</label>
            <select
              class="form-control"
              id="exampleFormControlSelect2"
              name="measure"
              [(ngModel)]="item.idMeasure"
            >
              <option *ngFor="let item of measures" value="{{item._id}}">{{item.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="unity">Equivalente en Unidad</label>
            <input
              class="form-control"
              type="number"
              id="unity"
              required=""
              name="unity"
              [(ngModel)]="item.unity"
              placeholder="5"
            />
          </div>
          <div class="form-group">
            <label for="alert">Minimo (Para Alerta)</label>
            <input
              class="form-control"
              type="number"
              id="alert"
              required=""
              name="alert"
              [(ngModel)]="item.minAlert"
              placeholder="5"
            />
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect5">Es Perecible?</label>
            <select
              class="form-control"
              id="exampleFormControlSelect5"
              name="perishable"
              [(ngModel)]="item.perishable"
            >
              <option [ngValue]="false">No</option>
              <option [ngValue]="true">Si</option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          data-dismiss="modal"
          (click)="clean()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="sendForm()"
        >
          Guardar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div
  id="form-lot"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabelLot">Lista de Lotes de <strong>{{productName}}</strong></h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>

      <div class="modal-body">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <div>
                  <table class="table">
                    <thead class="bg-success text-white">
                    <tr>
                      <th>#</th>
                      <th>Producto</th>
                      <th>Lote</th>
                      <th>Marca</th>
                      <th>Stock</th>
                      <th>Medida</th>
                      <th>F.V.</th>
                      <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                      *ngFor="let item of lots; let i = index"
                      [attr.data-index]="i"
                    >
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.product }}</td>
                      <td>{{item.lot}}</td>
                      <td>{{item.brand}}</td>
                      <th>{{item.quantity}}</th>
                      <th>{{item.measure}}</th>
                      <th>{{item.dueDate | date: 'dd/MM/yyyy'}}</th>
                      <td>
                        <button
                          *ngIf="item.dayDue > 10"
                          type="button"
                          class="btn waves-effect waves-light btn-rounded btn-sm btn-success"
                          style="margin-right: 5px; cursor: text"
                        >
                          Disponible
                        </button>
                        <button
                          *ngIf="item.dayDue < 9 && item.dayDue > 0"
                          type="button"
                          class="btn waves-effect waves-light btn-rounded btn-sm btn-warning"
                          style="margin-right: 5px; cursor: text"
                        >
                          Por Vencerse
                        </button>
                        <button
                          *ngIf="item.dayDue <= 0"
                          type="button"
                          class="btn waves-effect waves-light btn-rounded btn-sm btn-danger"
                          style="margin-right: 5px; cursor: text"
                        >
                          Vencido
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="closeLots()"
        >
          Cerrar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  id="form-brand"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabelBrand">Lista de Marcas</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>

      <div class="modal-body">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <div>
                  <table class="table">
                    <thead class="bg-success text-white">
                    <tr>
                      <th>#</th>
                      <th>Producto</th>
                      <th>Marca</th>
                      <th>Stock</th>
                      <th>Medida</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                      *ngFor="let item of brands; let i = index"
                      [attr.data-index]="i"
                    >
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.product }}</td>
                      <td>{{item.brand}}</td>
                      <th>{{item.quantity}}</th>
                      <th>{{item.measure}}</th>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="closeBrands()"
        >
          Cerrar
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<notifier-container></notifier-container>
