<div class="card">
  <div class="card-body">
    <h4 class="card-title">Productos</h4>
    <div class="mt-2">
      <ngx-loading [show]="loading"
                   [config]="{animationType: ngxLoadingAnimationTypes.chasingDots,
                     primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}"></ngx-loading>
      <canvas width="100" height="55" baseChart
              [data]="" ]="graphData"
              [labels]="graphLabels"
              [chartType]="doughnutChartType">
      </canvas>
    </div>
    <div id="accordion" class="custom-accordion mb-4">
      <div class="card mb-0">
        <div class="card-header" id="headingOne">
          <h5 class="m-0">
            <a class="custom-accordion-title d-block pt-2 pb-2" data-toggle="collapse"
               href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Sexo
              <span class="float-right"><i class="mdi mdi-chevron-down accordion-arrow"></i></span>
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
             data-parent="#accordion">
          <div class="card-body">
            <div class="table-responsive">
              <div>
                <table class="table">
                  <thead class="bg-success text-white">
                  <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Stock</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    *ngFor="let item of graphLabels; let index = index"
                    [attr.data-index]="index"
                  >

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
